<template>
  <q-page padding class="q-pa-md q-gutter-md text-center">
    <q-card class="justify-center">
      <q-card-section>
        <q-img
          class="desktop-only"
          :ratio="4 / 3"
          fit="contain"
          src="~assets/25years.png"
          width="40%"
          height="40%"
        />
        <q-img class="mobile-only" fit="contain" src="~assets/25years.png" />
        <h1>KDE is making 25 years old!!</h1>
        <h6>Let's dive in some memories?</h6>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <h2>
          The email that officialy create KDE was sent at 14 of October at the
          exact time of 8AM.
        </h2>
        <countdown date="2021-10-14 08:00:00"></countdown>
      </q-card-section>
      <q-img
        fit="contain"
        src="~assets/announcement.png"
        width="60%"
        height="60%"
        class="desktop-only"
      />
      <q-img fit="contain" src="~assets/announcement.png" class="mobile-only" />
    </q-card>
    <memory-lane></memory-lane>
  </q-page>
</template>

<script>
import Countdown from "components/Countdown.vue";
import MemoryLane from "components/MemoryLane.vue";

export default {
  name: "Home",
  components: {
    Countdown,
    MemoryLane,
  },
};
</script>
