<template>
  <q-layout view="lHh Lpr lFf">
    <q-header reveal elevated>
      <q-toolbar>
        <q-toolbar-title> KDE Community </q-toolbar-title>
      </q-toolbar>
      <!-- <q-tabs align="center">
        <q-route-tab to="/" label="Home" />
        <q-route-tab to="/donate" label="Donate" />
        <q-route-tab to="/" label="Timeline" @click="redirect" />
      </q-tabs> -->
    </q-header>
    <q-page-container>
      <router-view />
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn
          fab
          icon="fas fa-donate"
          color="secondary"
          label="Donate"
          external-label
        />
      </q-page-sticky>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",
  methods: {
    redirect() {
      const url = "https://timeline.kde.org/";
      window.open(url, "_target");
    },
  },
  components: {},

  setup() {},
});
</script>
